<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" href="./css/favicon.ico">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/javascript/home.js"></script>
    <script src="/javascript/avatar-client.js"></script>
    <script src="/javascript/verify-password.js"></script>
    <script src="/javascript/verify-username.js"></script>
    <script src="/javascript/delete-account.js"></script>
    <script src="/javascript/edit-article.js"></script>
    <script src="/javascript/delete-article.js"></script>
    <script src="/javascript/quill.js"></script>
    <script src="/javascript/comment.js"></script>
    <script src="https://kit.fontawesome.com/3cd9bc84f9.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <header class="header" id="border">
        <h2><a href="/" class="home">Dazzling Duck's <br><span class="logo">Photography</span></a></h2>
        <nav>
        
            <ul>
                <li><a href="/blog">Blog</a></li>
                <div class="dropdown">
                    <button class="dropdown-btn">
                        <li>Category</li>
                    </button>
                    <div class="dropdown-content">
                        <a href="/nature" >Nature</a>
                        <a href="/portrait">Portrait</a>
                        <a href="/life">Life</a>
                    </div>
                </div>
                <li><a href="/search">Search</a></li>
                <li><a href="/photographers">Photographers</a></li>
                <div class="dropdown">
                    <button class="dropdown-btn">
                        {{#if user}}
                        <li><a href="/yourPage">{{user.username}}</a></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        {{/if}}
                        
                    </button>
                    <div class="dropdown-content">
                        <a href="/editAccount">edit account</a>
                        <a href="/logout">logout</a>                        
                    </div>
                </div>
                
                
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer id="footer" class="clear">
        <p> &copy; Dazzling Ducks </p>
    </footer>
</body>

</html>
<!DOCTYPE html>