<div class="container">

    {{#each articles}}
    <div class="card-container {{imageHeight}}">
        <img class="card-images" src="./images/{{imageName}}">
        <h3>{{name}}</h3>
        <h2>{{title}}</h2>
        <div id="article">
        {{{articleContent}}}    
            </div>
        
        
        <div class="flavicon-container">
            <h4 class="author"><a href="/photographers">{{fName}} {{lName}}</a></h4>
            <p>{{articleDate}}</p>
            {{!-- <p>{{commentCount}}</p> --}}
            <img class="flavicon-comment" src="./images/comment-white-oval-bubblep.png" alt="Comment bubble">
            <p>{{commentCount}}</p>
            
            <button class="btn blog-button" data-site="{{articleId}}"> <a href="/full-article/{{articleId}}">Article</a></button>
        </div>
    </div>
    {{/each}}
</div>