<div class="main-container">
    <div class="full-article-container">

        <img class="full-image" src="/images/{{imageName}}">
        <div class="article-item">

            <h2 class="heading">{{title}}</h2>
            <div class="full-article">{{{articleContent}}}

                <div class="flavicon-container">
                    <a href="/photographers">
                        <h4 class="author">{{fName}} {{lName}}</h4>
                    </a>
                    <h4 class="written">{{articleDate}} </h4>
                    <i class="fa-regular fa-comment">{{commentsCount}}</i>
                    <button class="btn blog-button"><a href="/blog"> Blog</a></button>

                </div>

            </div>
        </div>

        {{!-- ------------------------------comments part ------------------------------}}

        <div class="comments-section">
            <h2>Comments</h2>
            <ul class="comments-list">

        {{#each comments}}
            <li class="comment">
                
                <div class="comment-content">
                    <img src="{{avatar}}" alt="{{fName}} {{lName}}" class="comment-avatar">
                    <div class="comment-details">
                        <h3>{{fName}} {{lName}} - {{commentDateTime}}</h3>
                        <p>{{content}}</p>
                    </div>
                    
                    <i class="fas fa-reply reply-btn" data-comment-id="{{commentId}}" aria-hidden="true" title="Reply"></i>
                    <i class="fas fa-trash delete-btn" data-comment-id="{{commentId}}" aria-hidden="true" title="Delete"></i>
                </div>

                {{#if this.replies}}
                <ul class="replies">
                    {{#each this.replies}}
                    <li class="comment">
                        
                        <div class="comment-content">
                            <img src="{{avatar}}" alt="{{fName}} {{lName}}" class="comment-avatar">
                            <div class="comment-details">
                                <h3>{{fName}} {{lName}} - {{commentDateTime}}</h3>
                                <p>{{content}}</p>
                            </div>
                            <i class="fas fa-trash delete-btn" data-comment-id="{{commentId}}" aria-hidden="true" title="Delete"></i>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
        {{/each}}
        </ul>

            <div class="reply-window" hidden>
                <form action="/createReply" method="POST">
                    <div class="comment-content">
                        <input type="hidden" name="articleId" value="{{articleId}}">
                        <textarea id="reply-textarea" rows="4" name="replyComment"
                            placeholder="Type your reply..."></textarea>
                        <button type="submit" class="submit-reply-btn" data-comment-id="{{commentId}}">Submit!</button>
                    </div>
                </form>

            </div>

        <form action="/createComment" method="POST" class="add-comment">
            <input type="hidden" name="articleId" value="{{articleId}}">
            <input type="text" name = "comment" placeholder="Add a comment...">
            <button type="submit">Save comment</button>
        </form>

        </div>


    </div>
</div>