
		<div class="full-article-container">
    <!-- <div class="image-large"> -->
    <img class="full-image" src="{{imageUrl}}">
    <!-- </div> -->
    <div class="article-item">

        <h2 class="heading">{{heading}}</h2>
        <p class="full-article">{{article}}</p>

        <div class="flavicon-author_container">
            <img src="./image/red_hair_female_avatar.png" alt="female avatar flavicon" width="40" height="40">
            <h4 class="author"><a href="./photographers.html">{{name}}</a></h4>
            <h4 class="written">{{date}} </h4>
            <i class="fa-regular fa-comment"></i>
            <!-- <img class="flavicon-comment" src="./image/comment-white-oval-bubble.png" alt="Comment bubble"> -->
        </div>
        
    </div>
</div>
		