<script src="./javascript/photographers-client.js"></script>

<ul>
    {{#each users}}
    <a href="/photographers/{{this.userId}}"><li><button class="name-button" data-id="{{this.userId}}">{{this.fName}} {{this.lName}}</button></li></a>
    {{/each}}
</ul>


<article>
<h2 class="photographer-heading">{{photographer.name}}</h2>
<div class="photographer-container">
    <div class="contact-icons">
        <ul>
            <li><i class="fa-solid fa-phone"></i>{{photographer.phone}}</li>
            <li><i class="fa-solid fa-location-dot"></i> {{photographer.address}}</li>
            <li><i class="fa-solid fa-envelope"></i>{{photographer.email}}</li>
        </ul>
    </div>
    <div class="article-container">
        <p class="photographer-article">{{photographer.userDescription}}
        </p>
    </div>
</div>

<div class="container">

    <div class="card-container short">
        <img class="card-images" src="{{imageUrl}}">
        <h3>Life </h3>
        <h2>{{heading}}</h2>
        <p class="article">{{article}}
        </p>
        <a href="./full_article.html"><button class="btn">Full Article</button></a>
    </div>


</div>
</article>