<script src="./javascript/photographers-client.js"></script>
<div class="photographers-container">
  
    <div id="photographers-jump-to">
      <button class="btn" id="all-photographers-button"><a href="#all-photographers">All photographers</a><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
 
  
    <h2 class="photographer-heading">{{photographer.fName}} {{photographer.lName}}</h2>
    <div class="photographer-container">
 
      <div class="contact-icons">
        <ul>
          <li><i class="fa-solid fa-phone"></i>{{photographer.phone}}</li>
          <li><i class="fa-solid fa-location-dot"></i>
            {{photographer.address}}</li>
          <li><i class="fa-solid fa-envelope"></i>{{photographer.email}}</li>
        </ul>
      </div>
      <div class="article-container">
        <p class="photographer-article">{{photographer.userDescription}}
        </p>
      </div>
    </div>

    <div class="container">

      {{#each articles}}
      <div class="card-container {{imageHeight}}">
        <img class="card-images" src="/images/{{imageName}}">
        <h3>{{name}}</h3>
        <h2>{{title}}</h2>
        <div id="article">
          {{{articleContent}}}
        </div>
        <button class="btn" data-site="{{articleId}}"> <a href="/full-article/{{articleId}}">Full Article</a></button>
        <div class="flavicon-container">
        
          <p>{{articleDate}}</p>
          <p>{{numberOfComments}}</p>
          <img class="flavicon-comment" src="/images/comment-white-oval-bubblep.png" alt="Comment bubble">
        </div>
      </div>
      {{/each}}

    

    </div>

   <div id="photographers-list">
      <h3 id="all-photographers">All Photographers</h3><br>
      <ul>
    {{#each users}}
    <a href="/photographers/{{this.userId}}">
      <li><button class="name-button" data-id="{{this.userId}}">{{this.fName}} {{this.lName}}</button></li>
    </a>
    {{/each}}
  </ul>
    </div>