   <div class="container">
   {{#each articles}}
   {{this.log}}
   <div class="card-container {{pictureOrientation}}">
        <img class="card-images" src="{{imageUrl}}">
        <h3>{{name}}</h3>
        <h2>{{title}}</h2>
        <p class="article">{{articleContent}}</p>
        <a href="./full-article"><button class="btn">Full Article</button></a>

        <div class="flavicon-container">
            <img src="{{flaviconAvatarUrl}}" alt="avatar flavicon" width="40" height="40">

            <h4 class="author"><a href="/photographers">{{fName}} {{lName}}</a></h4>
            <p>{{articleDate}}</p>
            <p>{{numberOfComments}}</p>
            <img class="flavicon-comment" src="./images/comment-white-oval-bubblep.png" alt="Comment bubble">
        </div>
    </div>
    {{/each}}
</div>