<form action="./search" method="POST">

<label for="searchquery">Search</label>
<input class="ipt" type="text" name="searchquery" id="txtSearchInput" placeholder="Please enter your search terms here" required>

<button type="submit" id="search-button">Search!</button>

</form>

<div id="results-display">

    <div class="container">

    {{#each results}}
    <div class="card-container {{imageHeight}}">
        <img class="card-images" src="./images/{{this.imageName}}">
        <h3>{{this.categoryName}}</h3>
        <h2>{{this.title}}</h2>
        <div id="article">
        {{{this.content}}}    
            </div>
            <button class="btn" data-site="{{this.articleId}}"> <a href="./full-article">Full Article</a></button>
        
        <div class="flavicon-container">
            <img src="{{flaviconAvatarUrl}}" alt="avatar flavicon" width="40" height="40">
                            {{!-- Maybe add #with  -- look at it later --}}
            <h4 class="author"><a href="/photographers">{{this.authorfName}} {{this.authorlName}}</a></h4>
            <p>{{this.articleDate}}</p>
            <p>{{this.numberOfComments}}</p>
            <img class="flavicon-comment" src="./images/comment-white-oval-bubblep.png" alt="Comment bubble">
        </div>
    </div>
    {{/each}}
</div>

    {{#if toastmessage}} 
    <p>{{toastmessage}}</p>
    {{/if}}

</div>